/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1440px;


// SCSS Vars
$white: #fff;
$black: #000;
$blue-dark: #021c45;
$blue: #5685d1;
$tan: #deaa83;
$tan-dark: #6e4222;

// CSS Vars

