#gallery {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". gallery .";
    width: 100%;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: gallery;
        h1 {
            font-weight: 400;
            color: $tan;
            font-size: rem-calc(35);
            text-align: center;
    
            @include md{
                font-size: rem-calc(45);
            }
        
            @include lg{
                font-size: rem-calc(55);
            }
        }

        ul{
            display: grid;
            grid-gap: 20px;
            padding: 0%;
            grid-template-areas: "gallery-1 gallery-2 gallery-3"
                "gallery-4 gallery-5 gallery-3"
                "gallery-4 gallery-6 gallery-7";
                grid-template-columns: repeat(3, 100px);
                grid-template-rows: repeat(3, 100px);
            align-content: center;
            align-items: center;
            justify-content: center;

            @include md {
                grid-template-areas: "gallery-1 gallery-2 gallery-3"
                "gallery-4 gallery-5 gallery-3"
                "gallery-4 gallery-6 gallery-7";
                grid-template-columns: repeat(3, 175px);
                grid-template-rows: repeat(3, 175px);
            }

            @include lg{
                grid-template-columns: repeat(3, 250px);
                grid-template-rows: repeat(3, 250px);
            }

            li{
                background-position: center;
                background-size: cover;
            }

            #gallery-1 {
                background-image: url("../img/olympians.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-1;
                width: 100px;
                height: 100px;
                @include md{
                    width: 175px;
                    height: 175px;
                }
                @include lg{
                    width: 250px;
                    height: 250px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-2 {
                background-image: url("../img/heroes.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-2;
                width: 100px;
                height: 100px;
                @include md{
                    width: 175px;
                    height: 175px;
                }
                @include lg{
                    width: 250px;
                    height: 250px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-3 {
                background-image: url("../img/titans.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-3;
                width: 100px;
                height: 220px;
                @include md{
                    width: 175px;
                    height: 370px;
                }
                @include lg{
                    width: 250px;
                    height: 520px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-4 {
                background-image: url("../img/other-gods.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-4;
                width: 100px;
                height: 220px;
                @include md{
                    width: 175px;
                    height: 370px;
                }
                @include lg{
                    width: 250px;
                    height: 520px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-5 {
                background-image: url("../img/primordial-deities.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-5;
                width: 100px;
                height: 100px;
                @include md{
                    width: 175px;
                    height: 175px;
                }
                @include lg{
                    width: 250px;
                    height: 250px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-6 {
                background-image: url("../img/nymphs-and-satyrs.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-6;
                width: 100px;
                height: 100px;
                @include md{
                    width: 175px;
                    height: 175px;
                }
                @include lg{
                    width: 250px;
                    height: 250px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }

            #gallery-7 {
                background-image: url("../img/giants.jpg");
                color: $white;
                align-items: center;
                display: flex;
                justify-content: center;
                cursor:pointer;
                grid-area: gallery-7;
                width: 100px;
                height: 100px;
                @include md{
                    width: 175px;
                    height: 175px;
                }
                @include lg{
                    width: 250px;
                    height: 250px;
                }

                h2{
                    font-size: rem-calc(20);
                    font-weight: 300;
                    text-align: center;
                    @include md {
                        font-size: rem-calc(30);
                    }
                }
            }
        }
    }
}
