#hero-2{
    background-image: url('../img/hekate.jpg');
        background-position: center;
        background-size: cover;
        height: 300px;

        @include md{
        height: 375px;
        }

        @include lg{
        height: 475px;
        }
}