/* =============
    Header
============= */
header {
    background-color: $blue;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;

    >div {
        display: grid;
        grid-template-areas: 
        "burger survival"
        "nav nav";
        grid-template-columns: 20% auto;

        @include lg {
            grid-template-areas: "nav survival";
            grid-template-columns: 20% auto;
        }

        #burger-cont {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg {
                display: none !important;
            }

            i {
                cursor: pointer;
                font-size: rem-calc(30);
            }
        }

        #nav-cont {
            background-color: $yellow;
            display: none;
            grid-area: nav;
            padding: 20px 10px 20px;

            @include lg{
                background-color: $white;
                display: block !important;

            }
        }
    }
}