/* =============
    Header
============= */
header {
    background-color: $tan;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
    justify-content: center;
    left:0;
    top: 0;
   
    #title{
        h1 {
            font-weight: 500;
            color: $blue-dark;
            font-size: rem-calc(35);
    
            @include md{
                font-size: rem-calc(45);
            }
        
            @include lg{
                font-size: rem-calc(55);
            }
        }
    }

    #nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h3{
        font-weight: 400;
        color: $blue;
        font-size: rem-calc(15);

        @include md{
            font-size: rem-calc(20);
             }
    
         @include lg{
            font-size: rem-calc(25);
             }
        }

        #header-myth{
            padding: 0px 25px;
            border-left: 2px solid $blue;
            border-right: 2px solid $blue;
        }

        #explore{
            padding: 0px 25px;
            border-right: 2px solid $blue;
        }
    }
}